---
import Layout from "@layouts/PageLayout.astro";
import Badge from "@atoms/Badge/Badge.astro";
import LinkButton from "@atoms/LinkButton/LinkButton.astro";
---

<Layout title="Home" description="">
  <header class="flex flex-col w-full min-h-screen md:flex-row-reverse">
    <section class="w-full bg-gray-300 aspect-square md:w-1/2 md:aspect-video">
    </section>

    <section class="grid w-full gap-4 px-8 py-6 place-content-center">
      <Badge>Member of the iDo.Agency Family</Badge>

      <h1
        class="text-[3.5rem] text-black font-semibold text-balance leading-tight max-w-3xl"
      >
        Multi-disciplinary Builder of Software Solutions
      </h1>

      <p class="text-base font-normal text-black max-w-prose text-pretty">
        Emmanuel Méndez [...] is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s.
      </p>

      <!-- <ButtonContainer client:load /> -->
      <div class="flex gap-4">
        <LinkButton variant="fill" href="#">Contact me</LinkButton>
        <LinkButton variant="outline" href="#">View my work</LinkButton>
      </div>
    </section>
  </header>
</Layout>
